[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs Dired
NoDisplay=true
Exec=emacs-dired %f
MimeType=inode/directory;application/x-directory;
Comment=Emacs Dired
